version: '3'
services:
  k3s:
    image: rancher/k3s:latest
    container_name: liteboxd-k3s
    command:
      - server
      - --disable=traefik
      - --write-kubeconfig-mode=666
      - --kubelet-arg=eviction-hard=memory.available<100Mi
      - --kubelet-arg=eviction-soft=memory.available<200Mi
      - --kubelet-arg=eviction-soft-grace-period=memory.available=30s
    privileged: true
    ports:
      - "6443:6443"
    volumes:
      - ./data/k3s-data:/var/lib/rancher/k3s
      - ./kubeconfig:/output
    environment:
      - K3S_KUBECONFIG_OUTPUT=/output/kubeconfig.yaml
      - K3S_KUBECONFIG_MODE=666
    tmpfs:
      - /run
      - /var/run
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535

